
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(243, 122, 42), rgb(247, 246, 249), rgb(16, 153, 16));
  font-family: Arial, sans-serif;
}


#Time {
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  font-size: clamp(1.5rem, 5vw, 3em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
