body{
 height: 400px;
 width: 600px;
 border: 2px solid black;
 border-radius: 15px;
 display: flex;
  margin-left: 450px;
  margin-top: 180px;
background: linear-gradient(rgb(243, 122, 42),rgb(247, 246, 249),rgb(16, 153, 16));
}
#Time{
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}